<h1><%= @survey.title %> Results </h1>

<div id="survey_id"><%= @survey.id %></div>

<div id="num_completed">Surveys Completed: <%= @survey.takers.count %></div>

<div class="results">
  <ol>
    <%@questions.each_with_index do |q, i|%>
      <li>
        <div class = "q_num"><%=q.question%></div>
      <ul>
        <%q.choices.each do |c|%>
          <li><div id="choice"><%=c.choice%></div> = <div id="choice_ct">
            <%=c.responses.count%></div></li>
        <%end%>
      </ul>
      </li>
    <canvas id="myChart_<%=i%>" width="200" height="200"></canvas>
    <%end%>
  </ol>
</div>


<a href="/user/<%= current_user.id %>">Return to Profile</a>
