<h1><%= @survey.title %> Results </h1>

<div id="num_completed">Surveys Completed: <%= @survey.takers.count %></div>

<div class="results">
  <ol>
    <%@question.each do |q|%>
      <li>
        <%=q.question%>
        <ul>
          <%q.choices.each do |c|%>
            <li><%=c.choice%> = <%=c.responses.count%></li>
          <%end%>
        <ul>
      </li>
    <%end%>
  </ol>
</div>

<a heref="/user/<%current_user.id%>">Return to Profile</a>
